@font-face {
    font-family: 'F77 Minecraft Regular';
    src: url('Minecraft.ttf');
}
Text{
 -fx-fill: WHITE;
}

.root{
 -fx-font-size: 16px;
 -fx-font-family: "F77 Minecraft Regular";
 src: url('Minecraft.ttf');
}
Button:active{
    -fx-background-color: #444;
}
Button{
     -fx-background-color: black;
     -fx-text-fill: "WHITE";
     -fx-text-alignment: center;
     -fx-background-radius: 0;
     -fx-cursor:HAND;
 }

CheckBox{
 -fx-font-size: 14;
 -fx-text-fill: "WHITE";
}

HyperLink{
 -fx-font-size: 14;
}

#RegText{
 -fx-font-size: 24;
}
.inDeveloping{
    -fx-font-size: 32;
    -fx-text-alignment: center;
    -fx-text-origin: center;
}